openapi: 3.0.0
info:
  description: Aqui você pode acompanhar todas as atualizações e modificações na nossa API. Consulte o changelog para obter detalhes sobre as alterações e melhorias implementadas.
  version: ''
  title: Changelog
  x-logo:
    url: 'https://public-resources.cdn.magazord.com.br/assets/global/admin/login/logo-magazord-light.svg'
  contact:
    email: ricardo@magazord.com.br
servers:
  - url: 'https://urlmagazord.com.br/api/'
tags:
  - name: Últimas alterações
    description: "- 26/03/2026 - \U0001F195 **Endpoints de Romaneio de Carga** - Atualizados os parâmetros de ordenação das consultas de serviço de transportadora e de romaneios de carga. [Clique aqui para visualizar](index.html#tag/Romaneio-de-Carga)\n- 24/03/2026 - \U0001F195 **Listagem de Páginas** - Ajustado o nome do parâmetro de url_pagina para url_page. [Clique aqui para visualizar](#tag/Paginas/operation/listPaginas)\n- 20/03/2026 - \U0001F195 **Alterar itens pedido** Adicionado campos, brinde, presente e personalizacao (não obrigatórios) [Clique aqui para visualizar](index.html#tag/Pedido/operation/postItensPedido)\n- 04/03/2026 - \U0001F195 **API de Avaliações** Disponibilizado novo endpoint de Consulta de Avaliações [Clique aqui para visualizar](index.html#tag/Avaliacao/operation/postListAvaliacoes)\n- 24/02/2026 - \U0001F504 **Endpoints de Produto Derivação** Adicionado novo campo de Código MPN no JSON de informações [Clique aqui para visualizar](index.html#tag/Derivacao-do-Produto/operation/postProdutoDerivacao)\n- 29/01/2026 - \U0001F504 **Pedidos** Atualizado endpoint de Inclusão de Pedidos com novos parâmetros: \"valorDescontoGeral\", \"valorAcrescimoGeral\" [Clique aqui para visualizar](notafiscal.html#tag/Pedido/operation/postPedido)\n- 13/01/2026 - \U0001F504 **Endpoints de Produto Derivação** Retorna campo `midiaTipo` contendo o tipo de midia [Clique aqui para visualizar](index.html#tag/Derivacao-do-Produto/operation/getAllMidiasRelacionadasProduto.yaml)\n- 10/12/2025 - \U0001F504 **Produtos** Adicionado novo endpoint de Consulta de Produto Detalhado [Clique aqui para visualizar](index.html#tag/Produto/operation/listProdutoDetalhado)\n- 28/11/2025 - \U0001F195 **API de Pessoas** Endpoint PUT para alteração de Pessoa Cliente [Clique aqui para visualizar](index.html#tag/Pessoa/operation/putPessoa)\n- 27/11/2025 - \U0001F504 **Produtos** Adicionado novo endpoint de Consulta de Produto Completo [Clique aqui para visualizar](index.html#tag/Produto/operation/listProdutosCompletos)\n- 25/11/2025 - \U0001F195 **API de Pedidos** Adicionado novo valor para o parâmetro \"tipo_cadastro\", agora permitindo também o valor \"transferencia_bancaria\" [Clique aqui para visualizar](notafiscal.html#tag/Pedido/operation/postPedido)\n- 14/11/2025 - \U0001F504 **API de Pessoa Observação** Disponibilizado endpoint para consulta e cadastro de Observações na Pessoa [Clique aqui para visualizar](index.html#tag/Pessoa/operation/listPessoaObservacoes)\n- 15/10/2025 - \U0001F504 **API de Carrinhos** Adicionado campo de URL de checkout no retorno da consulta de itens do carrinho por ID [Clique aqui para visualizar](index.html#tag/Carrinho/operation/listCarrinhoIdItens)\n- 08/10/2025 - \U0001F195 **API de Preço** Adicionado novo campo e filtro de Data de Atualização [Clique aqui para visualizar](index.html#tag/Preco/operation/listPreco)\n- 07/10/2025 - \U0001F195 **Pedido** Ajusta descrição parametro body pedidoRasteio (de Array para Object apenas) [Clique aqui para visualizar](index.html#tag/Pedido/operation/alterarSituacaoPedido)\n- 01/10/2025 - \U0001F195 **Consultar Tags** Adicionado filtro de id´s de tags especificas [Clique aqui para visualizar](index.html#tag/Tags/operation/listTags)\n- 30/09/2025 - \U0001F504 **Caixas PDV** Ajustado documentação retorno API + Response error 400 [Clique aqui para visualizar](index.html#tag/Caixas-PDV/operation/getCaixas)\n- 23/09/2025 - \U0001F504 **API de Carrinhos** Adicionado campo de Draft no retorno da API [Clique aqui para visualizar](index.html#tag/Carrinho/operation/listCarrinho)\n- 19/09/2025 - \U0001F195 **API de Movimentações Estoque** disponibilizado novo filtro de origem no endpoint [Clique aqui para visualizar](index.html#tag/Estoque/operation/listMovimentacaoEstoque)\n- 15/09/2025 - \U0001F504 **Código do Vendedor** Adicionado filtro \"loja\" na consulta de codigo de vendedores [Clique aqui para visualizar](index.html#tag/Codigo-do-Vendedor/operation/getCodigoVendedor)\n- 10/09/2025 - \U0001F195 **Cupons** Novo endpoint PATCH para alteração de Cupons de Desconto e Acréscimo [Clique aqui para visualizar](index.html#tag/Produto/operation/patchProduto)\n- 09/09/2025 - \U0001F504 **Cupom** Disponibilizado novo campo aplicarDescontoFormaPagamento na inclusão de cupons de desconto e crédito [Clique aqui para visualizar](index.html#tag/Cupom-de-Desconto/operation/postCupomCredito)\n- 05/09/2025 - \U0001F504 **Produtos** Adicionado filtro \"tipoProduto\" na consulta de produtos [Clique aqui para visualizar](index.html#tag/Produto/operation/listProdutos)\n- 30/07/2025 - \U0001F195 **Produtos** Novo endpoint PATCH para alteração parcial de um produto [Clique aqui para visualizar](index.html#tag/Produto/operation/patchProduto)\n- 21/07/2025 - \U0001F504 **Faturamento** Validação de Pedidos - Possibilidade de informar o ID do rastreio para validação [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/getPedidoValidate)\n- 17/07/2025 - \U0001F504 **Notificações** Disponibilizado novo campo unread_count na resposta da consulta de notificações [Clique aqui para visualizar](index.html#tag/Notificacoes/operation/listNotificacoes)\n- 14/07/2025 - \U0001F504 **Pedidos** Atualizado endpoint de Inclusão de Pedidos com novos parâmetros: \"formaPagamento\", \"formaRecebimento\", \"condicaoPagamento\" e \"produto\" [Clique aqui para visualizar](notafiscal.html#tag/Pedido/operation/postPedido)\n- 09/07/2025 - \U0001F195 **Contas a Receber** Adicionado documentação do endpoint de Consulta de Boletos do Contas a Receber [Clique aqui para visualizar](index.html#tag/Contas-a-Receber/operation/listBoletos)\n- 04/07/2025 - \U0001F504 **Pedidos** Atualizada a descrição da situação 19 para \"Aguardando Chegada do Produto\" [Clique aqui para visualizar](index.html#tag/Pedido/operation/listPedido)\n- 03/07/2025 - \U0001F504 **Deposito** Adicionado filtros para ordenação na consulta [Clique aqui para visualizar](index.html#tag/Estoque/operation/listDeposito)\n- 02/07/2025 - \U0001F504 **Produtos** Adicionado Id de produtos e derivações no retorno da requisição [Clique aqui para visualizar](index.html#tag/Produto/operation/listProdutos)\n- 28/05/2025 - \U0001F504 **Faturamento** Adicionado descrição sobre endpoint de validação de pedidos antes do faturamento [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/getPedidoValidate)\n- 19/05/2025 - \U0001F504 **Faturamento** Adicionado exemplo de retorno da requisição ao realizar um faturamento [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/postFaturamento)\n- 19/05/2025 - \U0001F195 **Grupos de Banner** Disponibilizados endpoints para consulta, criação e atualização de grupos de banner pelo construtor [Clique aqui para visualizar](index.html#tag/Grupos-de-Banner/operation/listTipoBanner)\n- 25/04/2025 - \U0001F195 **API de Páginas** Disponibilizado novo campo conteudoEspecifico no PATCH Múltiplo [Clique aqui para visualizar](index.html#tag/Paginas/operation/patchPaginasMultiplo)\n- 23/04/2025 - \U0001F504 **Entidades** Novos filtros adicionados [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/getEntidades) \n- 16/04/2025 - \U0001F195 **Notificações** Disponibilizados endpoints de inscrição em tópicos de notificação [Clique aqui para visualizar](index.html#tag/Notificacoes/operation/listNotificacoes)\n- 08/04/2025 - \U0001F504 **Pedidos** Novo endpoint para busca de Rastreio e Histórico do Pedido [Clique aqui para visualizar](index.html#tag/Pedido/operation/getRastreioHistoricoPedido)\n- 07/04/2025 - \U0001F504 **Faturamento** Adicionado detalhamento da descrição dos campos obrigatórios: pedido, pedidoRastreio e idEntidade [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/postFaturamento)\n- 02/04/2025 - \U0001F195 **Pessoa** Listagem de pessoas - Adicionado novos campos e filtros para controle de última atualização (dataHoraAtualizacao) [Clique aqui para visualizar](#tag/Pessoa/operation/listPessoas)\n- 31/03/2025 - \U0001F195 **API de Pessoas** Endpoint POST para Cadastro de Pessoa Cliente e Usuário [Clique aqui para visualizar](index.html#tag/Pessoa/operation/postPessoa)\n- 10/03/2025 - \U0001F195 **API de Pedidos** Disponibilizado novo endpoint PATCH para alteração de Pedido Observação [Clique aqui para visualizar](#tag/Pedido/operation/patchObservacaoPedido)\n- 05/03/2025 - \U0001F504 **Código do Vendedor** Listagem [Clique aqui para visualizar](index.html#tag/Codigo-do-Vendedor/operation/getCodigoVendedor)\n- 05/03/2025 - \U0001F504 **Caixas PDV** Listagem [Clique aqui para visualizar](index.html#tag/Caixas-PDV/operation/getCaixas)\n- 05/03/2025 - \U0001F504 **Entidades** Listagem das Entidades de Faturamento [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/getEntidades)\n- 17/02/2025 - \U0001F504 **Faturamento** Validação de Pedidos - Catalogado erros de pedidos e marketplaces [Clique aqui para visualizar](notafiscal.html#tag/Faturamento/operation/getPedidoValidate)\n- 22/01/2025 - \U0001F195 **API de Pedidos** Disponibilizado novo endpoint para consulta de pedidos terceiro [Clique aqui para visualizar](index.html#tag/Pedido/operation/listPedidoTerceiro)\n- 20/01/2025 - \U0001F195 **API de Pedidos** Disponibilizado novo endpoint DELETE para exclusão de Pedido Observação [Clique aqui para visualizar](index.html#tag/Pedido/operation/deleteObservacaoPedido)\n- 17/01/2025 - \U0001F195 **API de Preco** Adicionado limite para array de itens [Clique aqui para visualizar](index.html#tag/Preco/operation/postPreco)\n- 08/01/2025 - **Tabela de Preços** Adicionado a opção de filtrar uma tabela pelo id, e query agora filtra com o operador \"=\" [Clique aqui para visualizar](index.html#tag/Tabela-de-Precos/operation/listTabelaPreco)\n- 07/01/2025 - \U0001F195 **Nota Fiscal** Adicionado os Itens no retorno da consulta de Notas Fiscais [Clique aqui para visualizar](index.html#tag/Nota-Fiscal/operation/getNotaFiscal)\n- 12/12/2024 - \U0001F504 **Faturamento** Adicionado exemplo de retorno da requisição ao realizar um faturamento [Clique aqui para visualizar](index.html#tag/Faturamento/operation/postFaturamento)\n- 08/10/2024 - \U0001F195 **API de Pedidos** Disponibilizado endpoint para alteração de Itens do Pedido [Clique aqui para visualizar](index.html#tag/Pedido/operation/postItensPedido)\n- 24/09/2024 - \U0001F195 **Romaneio de Carga** Disponibilizado novos endpoints para manutenção de Romaneios de carga [Clique aqui para visualizar](index.html#tag/Romaneio-de-Carga)\n- 20/09/2024 - \U0001F195 **API de Produto** Adicionado código de vendedor no GET e POST de pedidoss [Clique aqui para visualizar](index.html#tag/Pedido/operation/getPedido)\n- 20/09/2024 - \U0001F195 **Faturamento** Disponibilizado novo endpoint para emissão de boletos (por título) [Clique aqui para visualizar](index.html#tag/Contas-a-Receber/paths/~1v2~1faturamento~1contaReceber~1%7BnumeroTitulo%7D~1boleto/get)\n- 05/09/2024 - \U0001F195 **Faturamento** Disponibilizado novo endpoint para validação de dados do pedido [Clique aqui para visualizar](notafiscal.htmlindex.html#tag/Faturamento/operation/getPedidoValidate)\n- 04/09/2024 - \U0001F504 **Endpoints de Produto Derivação** Permitido informar o Id do item da derivação [Clique aqui para visualizar](index.html#tag/Derivacao-do-Produto/operation/postProdutoDerivacao)\n- 19/08/2024 - \U0001F504 **API de Carrinhos** Adicionado filtro por Data de Atualização [Clique aqui para visualizar](index.html#tag/Carrinho/operation/listCarrinho)\n- 15/08/2024 - \U0001F195 **API de Carrinhos** Disponibilizado novo endpoint [Clique aqui para visualizar](index.html#tag/Carrinho)\n"
paths: {}
